/* ==========================================================================
   global
   ========================================================================== */
$font-stack: 'Source Sans Pro', sans-serif;
$blueGray-drk: #253137;
$blueGray-med: #445963;
$blueGray-lgt: #69777a;
$gray-med: #c1c1c1;
$gray-lgt: #e0e0e0;
$teal-drk: #00bea4;
$teal-lgt: #1ce8b5;
$outer-padding: 20px;
$inner-padding: 20px;
$outer-padding-mobile: 24px;
$inner-padding-mobile: 24px;

@mixin transition($prop: all, $time: .2s, $easing: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	-ms-transition: $prop $time $easing;
	-moz-transition: $prop $time $easing;
	-webkit-transition: $prop $time $easing;
	transition: $prop $time $easing;
}

@mixin content($content: '') {
	content: $content;
	display: block;
	position: absolute;
}

@mixin break-word() {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

@mixin translate($x,$y) {
	-ms-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -webkit-transform: translate($x,$y);
  transform: translate($x,$y);
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font: 400 16px/1.6em $font-stack;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

.cf {
	*zoom: 1;

	&:before {
		content: " ";
	  display: table;
	}

	&:after {
		@extend .cf:before;
		clear: both;
	}
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.125em;
	margin: 0;
}

h2 {
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.125em;
	margin: 0;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.125em;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.table {
	display: table;
	height: 100%;
	width: 100%;

	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

::-moz-selection {
	background: $teal-drk;
	color: $gray-lgt;
	text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

::selection {
	background: $teal-drk;
	color: $gray-lgt;
	text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}


@import '_navbar';


/* ==========================================================================
   body: dark vs. light vs. desktop vs. mobile
========================================================================== */
body {
	@extend html;
	background: $blueGray-lgt;
	color: $gray-lgt;

	// 
	// dark bg
	// 
	&.dark {
	  h3 {
	    color: $blueGray-med;
	  }

	  a {
	    color: $teal-lgt;
	  }
	}

	// 
	// light bg
	// 
	&.light {
	  background: $gray-lgt;
	  color: $blueGray-med;

	  h3 {
	    color: $gray-med;
	  }

	  a {
	    color: $teal-drk;
	  }
	}

	@import '_desktop';
	@import '_mobile';
}


/* ==========================================================================
   sections
========================================================================== */
#view {
	overflow: hidden;
	overflow-y: auto;
	padding: $outer-padding;

	header {
		padding: $inner-padding;

		h3 {
			border-bottom: 1px solid;
			display: inline-block;
			width: 152px;
		}
	}

	main {
		padding: $inner-padding;
	}
}


/* ==========================================================================
   HOME
========================================================================== */
#home {
	&.table {
		height: 50%;
	}
}


/* ==========================================================================
   DESIGN
========================================================================== */
#design {
	ul {
		&.work-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: 1px solid $gray-med;
				margin: 20px 0;
				padding: 40px 0;

				&:first-child {
					border: none;
					margin-top: 0;
					padding-top: 0;
				}

				.title {
					a {

					}
				}

				.thumb {
					text-align: center;

					img {
						max-height: 240px;
					}
				}
			}
		}
	}
}











