/* ==========================================================================
   global
   ========================================================================== */
$font-stack: 'Source Sans Pro', sans-serif;
$primary-drk: #253137;
$primary-med: #445963;
$primary-lgt: #69777a;
$gray-med: #c1c1c1;
$gray-lgt: #e0e0e0;
$accent-drk: #00b7d3;
$accent-lgt: #00e4ff;
$outer-padding: 20px;
$inner-padding: 20px;
$outer-padding-mobile: 24px;
$inner-padding-mobile: 24px;
$cubic-transition: cubic-bezier(0.4, 0.0, 0.2, 1);

@mixin transition($prop: all, $time: .2s, $easing: $cubic-transition) {
	-ms-transition: $prop $time $easing;
	-moz-transition: $prop $time $easing;
	-webkit-transition: $prop $time $easing;
	transition: $prop $time $easing;
}

@mixin content($content: '') {
	content: $content;
	display: block;
	position: absolute;
}

@mixin break-word() {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

@mixin translate($x,$y) {
	-ms-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -webkit-transform: translate($x,$y);
  transform: translate($x,$y);
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font: 400 16px/1.6em $font-stack;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

.cf {
	*zoom: 1;

	&:before {
		content: " ";
	  display: table;
	}

	&:after {
		@extend .cf:before;
		clear: both;
	}
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.125em;
	margin: 0;
}

h2 {
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.125em;
	margin: 0;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.125em;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&.button {
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.15);
		-ms-box-shadow: 1px 2px 5px rgba(0,0,0,.15);
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.15);
		box-shadow: 1px 2px 5px rgba(0,0,0,.15);
		display: inline-block;
		font-size: 1em;
		padding: 8px 32px;
		text-align: center;
	}
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.table {
	display: table;
	height: 100%;
	width: 100%;

	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

@import '_navbar';


/* ==========================================================================
   body: dark vs. light vs. desktop vs. mobile
========================================================================== */
body {
	@extend html;
	background: $primary-lgt;
	color: $gray-lgt;

	::-moz-selection {
		color: $gray-lgt;
		text-shadow: 0 -1px 0 rgba(0,0,0,.1);
	}

	::selection {
		color: $gray-lgt;
		text-shadow: 0 -1px 0 rgba(0,0,0,.1);
	}

	//
	// dark bg
	//
	&.dark {
		header {
	    color: $primary-med;
		}

	  a {
	    color: $accent-lgt;

	    &.button {
	    	background: $accent-lgt;
	    	color: $gray-lgt;
	    }
	  }

	  ::-moz-selection {
			background: $accent-lgt;
			color: $primary-drk;
		}

		::selection {
			background: $accent-lgt;
			color: $primary-drk;
		}
	}

	//
	// light bg
	//
	&.light {
	  background: $gray-lgt;
	  color: $primary-med;

	  header {
	    color: $gray-med;
		}

	  a {
	    color: $accent-drk;

	    &.button {
	    	background: $accent-drk;
	    	color: $gray-lgt;
	    }
	  }

	  ::-moz-selection {
			background: $accent-drk;
		}

		::selection {
			background: $accent-drk;
		}
	}
}


/* ==========================================================================
   view
========================================================================== */
#view {
	overflow: hidden;
	overflow-y: auto;
	padding: $outer-padding;
	position: relative;

	header {
		padding: $inner-padding;

		h3 {
			border-bottom: 1px solid;
			display: inline-block;
			line-height: 1.25em;
			width: 152px;
		}
	}

	main {
		padding: $inner-padding;
	}
}


/* ==========================================================================
   HOME
========================================================================== */
#home {
	&.table {
		height: 70%;
		margin: 0 auto;
		max-width: 1160px;
	}
}


/* ==========================================================================
   DESIGN & CODE
========================================================================== */
//
// DESIGN
//
#design {
	ul {
		&.work-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: 1px solid $gray-med;
				margin-top: 40px;
				padding-top: 40px;

				&:first-child {
					border: none;
					margin-top: 0;
					padding-top: 0;
				}

				.title {
					@include break-word;
					margin-bottom: 24px;
					margin-left: 72px;

					a {
						color: inherit;

						svg {
							height: 24px;
							width: 24px;
							fill: $accent-drk;
							@include transition;
						}
					}
				}

				.thumb {
			    float: left;
			    height: 0;
			    padding-bottom: 25%;
			    position: relative;
			    text-align: center;
			    width: 40%;

					iframe {
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
					}

					img {
						height: 100%;
						right: 0;
						position: absolute;
						top: 0;
					}
				}

				.details {
					.write-up {
						margin-bottom: 24px;

						p {
							margin: 0;

							.button {
								margin-top: 1em;
								margin-left: 72px;
							}
						}
					}
				}

				.gallery-radios {
          .radios {
            display: flex;
            flex-wrap: wrap;

						a {
							&.button {
								line-height: 40px;
								padding: 0;
								margin: 8px 8px 0 0;
								width: 40px;
							}
						}
					}
				}
			}
		}
	}
}

//
// CODE
//
#code {
	@extend #design;

	ul {
		&.work-list {
			li {
				.thumb {
					img {
						max-width: none;
					}

					.play-btn {
						background: url(../imgs/icon_playbtn.svg) center no-repeat;
						background-size: 80px 64px;
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
					}
				}
			}
		}
	}
}


/* ==========================================================================
   modal
========================================================================== */
@import '_modal';


/* ==========================================================================
   desktop screens
========================================================================== */
@import '_desktop';


/* ==========================================================================
   mobile devices
========================================================================== */
@import '_mobile';


/* ==========================================================================
   media queries
========================================================================== */
@import '_mediaQueries';
