.mobile {
  font-size: 13px;

  #nav-bar {
    height: 56px;
    overflow: visible;

    header {
      padding: 0 24px;

      a {
        &.logo {
          height: 107px;
          position: absolute;
          right: 24px;
          top: 0;
          @include translate(-5000%,0);
          width: 80px;
          z-index: 100;

          &[menu-ready="true"] {
            @include transition;
          }

          &.menuActive {
            background: url(../imgs/logo_dark.png) no-repeat !important;
            background-size: 100% !important;
            @include translate(0,0);
          }
        }

        &.menu-btn {
          background: url(../imgs/icon_triangle.svg) no-repeat;
          background-size: 100% !important;
          height: 24px;
          left: 24px;
          position: absolute;
          top: 16px;
          width: 24px;

          &.menuActive {
            background: url(../imgs/icon_x.svg) no-repeat;
          }
        }
      }
    }

    nav {
      background: $primary-drk;
      min-height: calc(100% - 56px);
      padding-top: 72px;
      position: absolute;
      top: 56px;
      @include translate(-100%,0);
      width: 100%;
      z-index: 1;

      &[menu-ready="true"] {
        @include transition;
      }

      &.menuActive {
        @include translate(0,0);
      }
    }
  }

  .button {
    padding: 12px 32px;
    width: 100%;
  }

// 
// mobile dark bg
// 
  &.dark {
    #nav-bar {
      header {
        a {
          &.logo {
            background: url(../imgs/logo_dark.png) no-repeat;
          }
        }
      }
    }
  }

// 
// mobile light bg
// 
  &.light {
    #nav-bar {
      header {
        a {
          &.logo {
            background: url(../imgs/logo_light.png) no-repeat;
          }
        }
      }
    }
  }

  // 
  // view
  // 
  #view {
    height: calc(100% - 56px);
    overflow: hidden;
    padding: 0;

    header {
      padding: $inner-padding-mobile;
    }

    main {
      border-top: 1px solid #fff;
      height: calc(100% - 71px);
      overflow: hidden;
      overflow-y: auto;
      padding: $inner-padding-mobile;
    }
  }

  // 
  // HOME
  // 
  #home {
    &.table {
      display: block;

      h1 {
        display: block;
      }
    }
  }

  // 
  // DESIGN & CODE
  // 
  #design,
  #code {
    ul {
      &.work-list {
        li {
          margin-top: 24px;
          padding-top: 24px;

          &:first-child {
            margin-top: 0;
            padding-top: 0;
          }

          .title {
            margin-bottom: 24px;
            margin-left: 0;
          }

          .details {
            .write-up {
              p {
                margin: 1em 0;

                strong {
                  display: block;
                }

                .button {
                  margin-left: 0;
                }
              }
            }
          }
          .gallery-radios {
            .radios {
              a {
                &.button {
                  font-size: 2em;
                  line-height: 48px;
                  width: 48px;
                }
              }
            }
          }
        }
      }
    }
  }
}






