/* ==========================================================================
   global
   ========================================================================== */
$font-stack: 'Source Sans Pro', sans-serif;
$blueGray-drk: #253137;
$blueGray-med: #445963;
$blueGray-lgt: #69777a;
$gray-med: #c1c1c1;
$gray-lgt: #e0e0e0;
$teal-drk: #00bea4;
$teal-lgt: #1ce8b5;
$outer-padding: 20px;
$inner-padding: 20px;

@mixin transition($prop: all, $time: .2s, $easing: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	-ms-transition: $prop $time $easing;
	-moz-transition: $prop $time $easing;
	-webkit-transition: $prop $time $easing;
	transition: $prop $time $easing;
}

@mixin content($content: '') {
	content: $content;
	display: block;
	position: absolute;
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font: 400 16px/1.6em $font-stack;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

.cf {
	*zoom: 1;

	&:before {
		content: " ";
	  display: table;
	}

	&:after {
		@extend .cf:before;
		clear: both;
	}
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1.125em;
	margin: 0;
}

h2 {
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.125em;
	margin: 0;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.125em;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}


/* ==========================================================================
   nav bar
========================================================================== */
#nav-bar {
	background: $blueGray-drk;

	header {
		margin-bottom: 64px;

		a {
			background-size: 100% !important;
			display: block;
		}
	}

	nav {
		position: relative;

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				margin: 0;
				position: relative;

				&:before {
					@include content;
					background: $blueGray-med;
					height: 1px;
					left: 0;
					top: 0;
					width: 100%;
				}	

				&:last-child:after {
					@include content;
					background: $blueGray-med;
					bottom: 0;
					height: 1px;
					left: 0;
					width: 100%;
				}

				a {
					color: $gray-lgt;
					display: block;
					font-size: 16px;
					line-height: 1;
					padding: 16px;
					position: relative;
					text-align: center;
				}

				&.active {
					&:before {
						display: none;
					}

					& + li:before {
						display: none;
					}

					&:after {
						display: none;
					}

					a {
						background: $teal-lgt;
						color: $blueGray-drk !important;
					}
				}
			}
		}
	}
}


/* ==========================================================================
   body: dark vs. light vs. desktop vs. mobile
========================================================================== */
body {
	@extend html;
	background: $blueGray-lgt;
	color: $gray-lgt;

// 
// dark bg
// 
	&.dark {
		h3 {
			color: $blueGray-med;
		}

		a {
			color: $teal-lgt;
		}
	}

// 
// light bg
// 
	&.light {
		background: $gray-lgt;
		color: $blueGray-med;

		h3 {
			color: $gray-med;
		}

		a {
			color: $teal-drk;
		}

		#nav-bar {
			nav {
				ul {
					li {
						&:before {
							background: $gray-lgt;
						}	

						&:last-child:after {
							background: $gray-lgt;
						}
					}
				}
			}
		}
	}

// 
// desktop only
// 
	&.desktop {
		a {
			@include transition;

			&:hover {
				color: $blueGray-drk;
			}
		}

		#nav-bar {
			float: left;
			height: 100%;
			width: 152px;

			header {
				a {
					background: url(../imgs/logo_dark.png) no-repeat;
					height: 156px;
					margin: 0 auto;
					width: 120px;
				}
			}

			nav {
				&:before {
					@include content;
						border: 12px solid transparent;
						border-bottom-color: $blueGray-lgt;
						border-right-color: $blueGray-lgt;
						height: 0;
						right: 0;
						top: -24px;
						width: 0;
					}

					&:after {
						@include content;
						border: 12px solid transparent;
						border-right-color: $blueGray-lgt;
						border-top-color: $blueGray-lgt;
						bottom: -24px;
						height: 0;
						right: 0;
						width: 0;
					}

				li {
					&:before {
						width: calc(100% - 24px);
					}

					&:after {
						width: calc(100% - 24px);
					}

					a {
						&:hover {
							color: $teal-lgt;
						}

						&.active:hover {
							color: $blueGray-drk;
						}

						&:before {
							@include content;
							border: 12px solid transparent;
							border-right-color: $blueGray-lgt;
							border-top-color: $blueGray-lgt;
							height: 0;
							right: 0;
							top: 0;
							width: 0;
						}

						&:after {
							@include content;
							border: 12px solid transparent;
							border-bottom-color: $blueGray-lgt;
							border-right-color: $blueGray-lgt;
							bottom: 0;
							height: 0;
							right: 0;
							width: 0;
						}
					}
				}
			}
		}

		#view {
			float: left;
			height: 100%;
			width: calc(100% - 152px);
		}

// 
// desktop light bg
// 
		&.light {
			#nav-bar {
				nav {
					&:before {
						border-bottom-color: $gray-lgt;
						border-right-color: $gray-lgt;
						top: -24px;
					}

					&:after {
						border-right-color: $gray-lgt;
						border-top-color: $gray-lgt;
						bottom: -24px;
					}

					a {
						&:hover {
							color: $teal-lgt;
						}

						&.active:hover {
							color: $blueGray-drk;
						}

						&:before {
							border-right-color: $gray-lgt;
							border-top-color: $gray-lgt;
							top: 0;
						}

						&:after {
							border-bottom-color: $gray-lgt;
							border-right-color: $gray-lgt;
							bottom: 0;
						}
					}
				}
			}
		}
	}


// 
// mobile only
// 
	&.mobile {
		#nav-bar {
			header {
				a {
					height: 107px;
					width: 80px;
				}
			}
		}

// 
// mobile dark bg
// 
		&.dark {
			#nav-bar {
				header {
					a {
						background: url(../imgs/logo_dark.png) no-repeat;
					}
				}
			}
		}

// 
// mobile light bg
// 
		&.light {
			#nav-bar {
				header {
					a {
						background: url(../imgs/logo_light.png) no-repeat;
					}
				}
			}
		}
	}
}


/* ==========================================================================
   sections
========================================================================== */
#view {
	overflow: hidden;
	overflow-y: auto;
	padding: $outer-padding;

	header {
		padding: $inner-padding;

		h3 {
			border-bottom: 1px solid;
			max-width: 152px;
		}
	}

	main {
		padding: $inner-padding;
	}
}


/* ==========================================================================
   home
========================================================================== */
main#home h1 {
	margin: $inner-padding * 4 $inner-padding * 2;
}











