/* ==========================================================================
   global
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font: 400 16px/1.6em "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.125em;
  margin: 0; }

h2 {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.125em;
  margin: 0; }

h3 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.125em;
  margin: 0; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:focus {
    outline: none; }
  a.button {
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    display: inline-block;
    font-size: 1em;
    padding: 8px 32px;
    text-align: center; }

img {
  max-width: 100%;
  vertical-align: middle; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table .table-cell {
    display: table-cell;
    vertical-align: middle; }

#nav-bar {
  background: #253137; }
  #nav-bar header {
    margin-bottom: 64px; }
    #nav-bar header a.logo {
      background-size: 100% !important;
      display: block; }
  #nav-bar nav {
    position: relative; }
    #nav-bar nav ul {
      margin: 0;
      padding: 0; }
      #nav-bar nav ul li {
        list-style: none;
        margin: 0;
        position: relative; }
        #nav-bar nav ul li:before {
          content: "";
          display: block;
          position: absolute;
          background: #69777a;
          height: 1px;
          left: 0;
          top: 0;
          width: 100%; }
        #nav-bar nav ul li:last-child:after {
          content: "";
          display: block;
          position: absolute;
          background: #69777a;
          bottom: 0;
          height: 1px;
          left: 0;
          width: 100%; }
        #nav-bar nav ul li a {
          color: #e0e0e0;
          display: block;
          font-size: 16px;
          line-height: 1;
          padding: 16px;
          position: relative;
          text-align: center; }
        #nav-bar nav ul li.active:before {
          display: none; }
        #nav-bar nav ul li.active + li:before {
          display: none; }
        #nav-bar nav ul li.active:after {
          display: none; }
        #nav-bar nav ul li.active a {
          background: #00e4ff;
          color: #253137 !important; }

/* ==========================================================================
   body: dark vs. light vs. desktop vs. mobile
========================================================================== */
body {
  background: #69777a;
  color: #e0e0e0; }
  body ::-moz-selection {
    color: #e0e0e0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  body ::selection {
    color: #e0e0e0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); }
  body.dark header {
    color: #445963; }
  body.dark a {
    color: #00e4ff; }
    body.dark a.button {
      background: #00e4ff;
      color: #e0e0e0; }
  body.dark ::-moz-selection {
    background: #00e4ff;
    color: #253137; }
  body.dark ::selection {
    background: #00e4ff;
    color: #253137; }
  body.light {
    background: #e0e0e0;
    color: #445963; }
    body.light header {
      color: #c1c1c1; }
    body.light a {
      color: #00b7d3; }
      body.light a.button {
        background: #00b7d3;
        color: #e0e0e0; }
    body.light ::-moz-selection {
      background: #00b7d3; }
    body.light ::selection {
      background: #00b7d3; }

/* ==========================================================================
   view
========================================================================== */
#view {
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  position: relative; }
  #view header {
    padding: 20px; }
    #view header h3 {
      border-bottom: 1px solid;
      display: inline-block;
      line-height: 1.25em;
      width: 152px; }
  #view main {
    padding: 20px; }

/* ==========================================================================
   HOME
========================================================================== */
#home.table {
  height: 70%;
  margin: 0 auto;
  max-width: 1160px; }

/* ==========================================================================
   DESIGN & CODE
========================================================================== */
#design ul.work-list, #code ul.work-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  #design ul.work-list li, #code ul.work-list li {
    border-top: 1px solid #c1c1c1;
    margin-top: 40px;
    padding-top: 40px; }
    #design ul.work-list li:first-child, #code ul.work-list li:first-child {
      border: none;
      margin-top: 0;
      padding-top: 0; }
    #design ul.work-list li .title, #code ul.work-list li .title {
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      margin-bottom: 24px;
      margin-left: 72px; }
      #design ul.work-list li .title a, #code ul.work-list li .title a {
        color: inherit; }
        #design ul.work-list li .title a svg, #code ul.work-list li .title a svg {
          height: 24px;
          width: 24px;
          fill: #00b7d3;
          -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    #design ul.work-list li .thumb, #code ul.work-list li .thumb {
      float: left;
      height: 0;
      padding-bottom: 25%;
      position: relative;
      text-align: center;
      width: 40%; }
      #design ul.work-list li .thumb iframe, #code ul.work-list li .thumb iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
      #design ul.work-list li .thumb img, #code ul.work-list li .thumb img {
        height: 100%;
        right: 0;
        position: absolute;
        top: 0; }
    #design ul.work-list li .details .write-up, #code ul.work-list li .details .write-up {
      margin-bottom: 24px; }
      #design ul.work-list li .details .write-up p, #code ul.work-list li .details .write-up p {
        margin: 0; }
        #design ul.work-list li .details .write-up p .button, #code ul.work-list li .details .write-up p .button {
          margin-top: 1em;
          margin-left: 72px; }
    #design ul.work-list li .gallery-radios .radios, #code ul.work-list li .gallery-radios .radios {
      display: flex;
      flex-wrap: wrap; }
      #design ul.work-list li .gallery-radios .radios a.button, #code ul.work-list li .gallery-radios .radios a.button {
        line-height: 40px;
        padding: 0;
        margin: 8px 8px 0 0;
        width: 40px; }

#code ul.work-list li .thumb img {
  max-width: none; }
#code ul.work-list li .thumb .play-btn {
  background: url(../imgs/icon_playbtn.svg) center no-repeat;
  background-size: 80px 64px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* ==========================================================================
   modal
========================================================================== */
modal {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 100; }
  modal.ng-enter {
    opacity: 0; }
  modal.ng-enter.ng-enter-active {
    opacity: 1; }
  modal.ng-leave {
    opacity: 1; }
  modal.ng-leave.ng-leave-active {
    opacity: 0; }
  modal .overlay {
    background: #253137;
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%; }
  modal .gallery {
    background: #e0e0e0;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 10%;
    max-height: 95%;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 48px;
    position: absolute;
    top: 2.5%;
    width: 80%; }
    modal .gallery .actions {
      background: #00b7d3;
      border: 2px solid #e0e0e0;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 8px; }
      modal .gallery .actions a {
        height: 24px;
        margin: 0 24px;
        width: 24px; }
        modal .gallery .actions a svg {
          fill: #253137;
          height: 24px;
          width: 24px; }
        modal .gallery .actions a.prev {
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
        modal .gallery .actions a.next {
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
    modal .gallery h3 {
      padding: 24px;
      position: relative;
      text-align: center; }
      modal .gallery h3 span {
        color: #c1c1c1;
        display: block; }
    modal .gallery .image {
      padding: 0 24px; }
      modal .gallery .image img {
        max-height: 512px;
        max-width: 100%; }

/* ==========================================================================
   desktop screens
========================================================================== */
.desktop #nav-bar {
  float: left;
  height: 100%;
  width: 152px; }
  .desktop #nav-bar header a.logo {
    background: url(../imgs/logo_dark.png) no-repeat;
    height: 161px;
    margin: 0 auto;
    opacity: .9;
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 120px; }
  .desktop #nav-bar nav:before {
    content: "";
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-bottom-color: #69777a;
    border-right-color: #69777a;
    height: 0;
    right: 0;
    top: -24px;
    width: 0; }
  .desktop #nav-bar nav:after {
    content: "";
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-right-color: #69777a;
    border-top-color: #69777a;
    bottom: -24px;
    height: 0;
    right: 0;
    width: 0; }
  .desktop #nav-bar nav li:before {
    width: calc(100% - 24px); }
  .desktop #nav-bar nav li:after {
    width: calc(100% - 24px); }
  .desktop #nav-bar nav li a:before {
    content: "";
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-right-color: #69777a;
    border-top-color: #69777a;
    height: 0;
    right: 0;
    top: 0;
    width: 0; }
  .desktop #nav-bar nav li a:after {
    content: "";
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-bottom-color: #69777a;
    border-right-color: #69777a;
    bottom: 0;
    height: 0;
    right: 0;
    width: 0; }
.desktop #view {
  float: left;
  height: 100%;
  width: calc(100% - 152px); }
.desktop.light #nav-bar nav:before {
  border-bottom-color: #e0e0e0;
  border-right-color: #e0e0e0;
  top: -24px; }
.desktop.light #nav-bar nav:after {
  border-right-color: #e0e0e0;
  border-top-color: #e0e0e0;
  bottom: -24px; }
.desktop.light #nav-bar nav ul li:before {
  background: #e0e0e0; }
.desktop.light #nav-bar nav ul li:last-child:after {
  background: #e0e0e0; }
.desktop.light #nav-bar nav a:before {
  border-right-color: #e0e0e0;
  border-top-color: #e0e0e0;
  top: 0; }
.desktop.light #nav-bar nav a:after {
  border-bottom-color: #e0e0e0;
  border-right-color: #e0e0e0;
  bottom: 0; }
.desktop #design ul.work-list li .thumb, .desktop #code ul.work-list li .thumb,
.desktop #code ul.work-list li .thumb {
  float: left;
  width: 40%; }
.desktop #design ul.work-list li .details, .desktop #code ul.work-list li .details,
.desktop #code ul.work-list li .details {
  float: left;
  padding-left: 32px;
  width: 60%; }
  .desktop #design ul.work-list li .details .write-up p strong, .desktop #code ul.work-list li .details .write-up p strong,
  .desktop #code ul.work-list li .details .write-up p strong {
    color: #c1c1c1;
    display: block;
    float: left;
    text-align: right;
    width: 64px; }
  .desktop #design ul.work-list li .details .write-up p span, .desktop #code ul.work-list li .details .write-up p span,
  .desktop #code ul.work-list li .details .write-up p span {
    display: block;
    float: left;
    padding-left: 8px;
    width: calc(100% - 64px); }
  .desktop #design ul.work-list li .details .gallery-radios, .desktop #code ul.work-list li .details .gallery-radios,
  .desktop #code ul.work-list li .details .gallery-radios {
    padding-left: 72px; }

/* ==========================================================================
   hover states
========================================================================== */
.no_touch a {
  -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .no_touch a:hover {
    color: #253137; }
  .no_touch a.button:hover {
    background: #00e4ff;
    color: #445963; }
.no_touch #nav-bar .logo:hover {
  opacity: 1; }
.no_touch #nav-bar nav li a:hover {
  color: #00e4ff; }
.no_touch #nav-bar nav li a.active:hover {
  color: #253137; }
.no_touch #design .work-list .title a:hover, .no_touch #code .work-list .title a:hover,
.no_touch #code .work-list .title a:hover {
  color: #253137; }
  .no_touch #design .work-list .title a:hover svg, .no_touch #code .work-list .title a:hover svg,
  .no_touch #code .work-list .title a:hover svg {
    fill: #253137; }

/* ==========================================================================
   mobile devices
========================================================================== */
.mobile {
  font-size: 13px; }
  .mobile #nav-bar {
    height: 56px;
    overflow: visible; }
    .mobile #nav-bar header {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding: 16px 24px 0; }
      .mobile #nav-bar header span {
        color: #00e4ff;
        font-size: 20px;
        font-weight: 600;
        line-height: 1; }
      .mobile #nav-bar header a.logo {
        height: 107px;
        position: absolute;
        right: 24px;
        top: 0;
        -ms-transform: translate(4000%, 0);
        -moz-transform: translate(4000%, 0);
        -webkit-transform: translate(4000%, 0);
        transform: translate(4000%, 0);
        width: 80px;
        z-index: 100; }
        .mobile #nav-bar header a.logo[menu-ready="true"] {
          -ms-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          -moz-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
        .mobile #nav-bar header a.logo.menuActive {
          background: url(../imgs/logo_dark.png) no-repeat !important;
          background-size: 100% !important;
          -ms-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
      .mobile #nav-bar header a.menu-btn {
        background: url(../imgs/icon_triangle.svg) no-repeat;
        background-size: 100% !important;
        height: 24px;
        width: 24px; }
        .mobile #nav-bar header a.menu-btn.menuActive {
          background: url(../imgs/icon_x.svg) no-repeat; }
    .mobile #nav-bar nav {
      background: #253137;
      min-height: calc(100% - 56px);
      padding-top: 72px;
      position: absolute;
      top: 56px;
      -ms-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      width: 100%;
      z-index: 1; }
      .mobile #nav-bar nav[menu-ready="true"] {
        -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      .mobile #nav-bar nav.menuActive {
        -ms-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
  .mobile .button {
    padding: 12px 32px;
    width: 100%; }
  .mobile.dark #nav-bar header a.logo {
    background: url(../imgs/logo_dark.png) no-repeat; }
  .mobile.light #nav-bar header a.logo {
    background: url(../imgs/logo_light.png) no-repeat; }
  .mobile #view {
    height: calc(100% - 56px);
    overflow: hidden;
    padding: 0; }
    .mobile #view header {
      padding: 24px; }
    .mobile #view main {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding: 24px; }
  .mobile #home.table {
    display: block; }
    .mobile #home.table h1 {
      display: block;
      line-height: 1.35em;
      text-align: right; }
  .mobile #design ul.work-list li, .mobile #code ul.work-list li,
  .mobile #code ul.work-list li {
    margin-top: 24px;
    padding-top: 24px; }
    .mobile #design ul.work-list li:first-child, .mobile #code ul.work-list li:first-child,
    .mobile #code ul.work-list li:first-child {
      margin-top: 0;
      padding-top: 0; }
    .mobile #design ul.work-list li .title, .mobile #code ul.work-list li .title,
    .mobile #code ul.work-list li .title {
      margin-bottom: 24px;
      margin-left: 0; }
    .mobile #design ul.work-list li .details .write-up p, .mobile #code ul.work-list li .details .write-up p,
    .mobile #code ul.work-list li .details .write-up p {
      margin: 1em 0; }
      .mobile #design ul.work-list li .details .write-up p strong, .mobile #code ul.work-list li .details .write-up p strong,
      .mobile #code ul.work-list li .details .write-up p strong {
        display: block; }
      .mobile #design ul.work-list li .details .write-up p .button, .mobile #code ul.work-list li .details .write-up p .button,
      .mobile #code ul.work-list li .details .write-up p .button {
        margin-left: 0; }
    .mobile #design ul.work-list li .gallery-radios .radios a.button, .mobile #code ul.work-list li .gallery-radios .radios a.button,
    .mobile #code ul.work-list li .gallery-radios .radios a.button {
      font-size: 2em;
      line-height: 48px;
      width: 48px; }
  .mobile modal .gallery {
    top: 15%; }

/* ==========================================================================
   media queries
========================================================================== */
@media only screen and (max-width: 960px) {
  .desktop #design ul.work-list li .thumb, .desktop #code ul.work-list li .thumb,
  .desktop #code ul.work-list li .thumb,
  .mobile #design ul.work-list li .thumb,
  .mobile #code ul.work-list li .thumb,
  .mobile #code ul.work-list li .thumb {
    float: none;
    padding-bottom: 62.5%;
    width: 100%; }
    .desktop #design ul.work-list li .thumb img, .desktop #code ul.work-list li .thumb img,
    .desktop #code ul.work-list li .thumb img,
    .mobile #design ul.work-list li .thumb img,
    .mobile #code ul.work-list li .thumb img,
    .mobile #code ul.work-list li .thumb img {
      left: 0;
      right: auto; } }
@media only screen and (min-width: 640px) and (max-width: 960px) {
  .desktop #design ul.work-list li .details, .desktop #code ul.work-list li .details,
  .desktop #code ul.work-list li .details,
  .mobile #design ul.work-list li .details,
  .mobile #code ul.work-list li .details,
  .mobile #code ul.work-list li .details {
    float: none;
    margin: 32px 0 0;
    padding: 0;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
