/* ==========================================================================
   global
   ========================================================================== */
* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
	background: #000;
	color: #263238;
	font: 400 16px/1.6em 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

a {
	color: #00bea4;
	cursor: pointer;
}

img,
object {
	max-width: 100%;
	pointer-events: none;
	vertical-align: middle;
}

h1 {
	font-size: 2.8125em;
	font-weight: 400;
	line-height: 1.125em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.125em;
}

h3 {
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1.125em;
}

main {
	background: url(../imgs/crossword_white.png) repeat #fff;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}

section {
	height: 100%;
}

footer {
	color: #607d8b;
	font-size: 14px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	width: 100%;
}

footer p {
	display: inline-block;
	line-height: 1.4em;
	margin: 0;
	vertical-align: middle;
}

footer span {
	display: inline;
}

footer br {
	display: none;
}

.transition {
	-moz-transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-ms-transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	-webkit-transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: all .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.table {
	display: table;
	width: 100%;
}

.table > span {
	display: table-cell;
	vertical-align: middle;
}


/* ==========================================================================
   header
========================================================================== */
#top {
	height: 0;
	overflow: hidden;
	width: 100%;
}

#logo,
#menu-icon {
	float: left;
	text-align: center;
}

#menu-icon {
	float: right;
}

#logo a,
#menu-icon a {
	display: inline-block;
	line-height: 72px;
	padding: 0 40px;
	text-decoration: none;
}

#logo h3 {
	color: #b1deda;
	font-weight: 400;
	line-height: 72px;
	margin: 0;
	position: relative;
}

#logo h3 span {
	color: #607d8b;
	left: 72px;
	position: absolute;
	top: 0;
	white-space: nowrap;
}

#logo a .pronounce {
	opacity: 0;
}

.no_touch #logo a:hover .ln {
	opacity: 0;
}

.no_touch #logo a:hover .pronounce {
	opacity: 1;
}

.no_touch #menu-icon a {
	opacity: .5;
}

.no_touch #menu-icon a:hover {
	opacity: 1;
}


/* ==========================================================================
   nav
========================================================================== */
nav {
	background: #263238;
	background: url(../imgs/crossword_blue.png) repeat;
	font-size: 14px;
	height: 0;
	overflow: hidden;
	padding: 0 32px 0 40px;
	text-align: right;
}

nav.active {
	height: 48px;
}

nav a {
	color: #b1deda;
	display: inline-block;
	line-height: 48px;
	opacity: .25;
	padding: 0 8px;
	text-decoration: none;
}

nav a.active {
	-moz-box-shadow: inset 0 4px #ffdd7f;
	-ms-box-shadow: inset 0 4px #ffdd7f;
	-webkit-box-shadow: inset 0 4px #ffdd7f;
	box-shadow: inset 0 4px #ffdd7f;
	color: #ffdd7f;
	opacity: 1;
}

.no_touch nav a:hover {
	opacity: 1;
}


/* ==========================================================================
   home
========================================================================== */
#home {
	text-align: center;
}

#home .panel {
	float: left;
	min-height: 100%;
	padding: 5%;
	text-decoration: none;
	width: 50%;
}

#designer {
	background: #b1deda;
	color: #25a599;
}

#developer {
	background: #8fa4ad;
	color: #263238;
}

#home .panel h1 {
	margin: 0 0 1em;
}

#home .panel img {
	width: 45%;
}

.no_touch #home #designer:hover {
	box-shadow: 5px 0 15px rgba(0,0,0,.25);
	opacity: .9;
	z-index: 1;
}

.no_touch #home #developer:hover {
	box-shadow: -5px 0 15px rgba(0,0,0,.5);
	opacity: .9;
	z-index: 1;
}


/* ==========================================================================
   media query - mobile
========================================================================== */
@media only screen and (max-width: 768px) {
	body,
	html {
		font-size: 14px;
	}

	#logo h3 span {
		left: 62px;
	}

	nav {
		text-align: center;
	}

	footer span {
		display: none;
	}

	footer br {
		display: block;
	}
}














