<header>
	<h3>Design</h3>
</header>

<main id="design">
  <ul class="work-list">
    <li class="cf" ng-repeat="item in design.designs">
      <h2 class="title" ng-if="index.mobile">
        <a href="{{item.link}}" target="_blank" ng-if="item.link">
          {{item.title}}
          <svg>
            <path d="M22 2v20H2V2H22M24 0H0v24h24V0L24 0z"/>
            <rect x="8" y="0" width="16" height="16"/>
          </svg>
        </a>

        <span ng-if="!item.link">
          {{item.title}}
        </span>
      </h2> <!-- .title for mobile-->

      <div class="thumb">
        <img ng-src="../imgs/designs/{{item.thumb[0].src}}" border="0" 
             alt="{{item.thumb[0].alt}}" />
      </div> <!-- .thumb -->


        <div class="details">
          <h2 class="title" ng-if="!index.mobile">
            <a href="{{item.link}}" target="_blank" ng-if="item.link">
              {{item.title}}
              <svg>
                <path d="M22 2v20H2V2H22M24 0H0v24h24V0L24 0z"/>
                <rect x="8" y="0" width="16" height="16"/>
              </svg>
            </a>

            <span ng-if="!item.link">
              {{item.title}}
            </span>
          </h2> <!-- .title for desktop-->

          <div class="write-up">
            <p>
              <strong>Role:</strong>
              <span>{{item.role}}</span>
            </p>

            <p>
              <strong>Goal:</strong>
              <span>{{item.goal}}</span>
            </p>

            <p>
              <strong>Solution:</strong>
              <span>{{item.solution}}</span>
            </p>
          </div> <!-- .write-up -->

          <div class="process">
            <h3>Process</h3>
          </div> <!-- .process -->
        </div> <!-- .details -->
    </li> <!-- .list-item -->
  </ul> <!-- .work-list -->
</main>